/* Header */
.navbar-brand {
    background-image: url('/uploads/images/logo_volleyball.png');
    height: 56px !important;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 0 !important;
    border-right: 0;
}

.navbar,
.sticky-wrapper {
    background-color: #222;
    border: 0;
}

/*Navigatior Bar*/
#main-navbar-container .nav.navbar-nav > li > a {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    color: #ffffff;
}

.navbar-white .sticky-menu.fixed {
    background-color: #222;
}

#main-navbar-container .nav.navbar-nav {
    float: right;
}

@media (min-width: 992px) {
    #main-navbar-container .navbar-btn {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
        width: 30px;
        height: 30px;
        font-size: 13px;
        line-height: 30px;
    }
}

.navbar li li a {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-nav li li a {
    font-size: 14px;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ffffff;
    font-size: 16px;
    padding-top: 21px;
}

.navbar-inverse .navbar-nav li>a {
    transition: color 0.5s ease;
}

.navbar-inverse .navbar-nav li>a:hover {
    color: #428bca !important;
}



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: transparent;
}

