{% extends '::layout.html.twig' %}

{% block carousel %}

    <div class="section section-main">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[0], thumbnail: 'main_pic'} %}
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 thumb-container">
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[1], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[2], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[3], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[4], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block content %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=216137225174781";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="sections">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        {% for item in news %}
                            {% include 'VolleyFaceBundle:Default/includes:post.html.twig' with {'loop': loop} %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ render(controller('VolleyStatBundle:Tournament:table',{'seasonId':1, 'tournamentId': 1})) }}
                            {{ render(controller('VolleyStatBundle:Tournament:table',{'seasonId':2, 'tournamentId': 2})) }}
                        </div>
                        <div class="col-lg-6">
                            {% include 'VolleyWebBundle:Default/includes:fb.html.twig' with {} %}
                            {% include 'VolleyWebBundle:Default/includes:vk.html.twig' with {} %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}