{% extends '::layout.html.twig' %}

{% block carousel %}

    <div class="section section-main">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[0], thumbnail: 'main_pic'} %}
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 thumb-container">
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[1], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[2], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[3], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyWebBundle:Default/includes:thumb.html.twig' with {'slide': slides[4], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="sections">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        {% for item in news %}
                            {% include 'VolleyFaceBundle:Default/includes:post.html.twig' with {'loop': loop} %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}