/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/web/uploads/
/web/assetic
/web/js/
/web/css/
/web/fonts
/web/media
/web/images

.idea
.DS_Store
.DS_Store?
nbproject
.Spotlight-V100
.Trashes
Thumbs.db
*~
xcuserstate
xcuserdata

node_modules
# bower dir
/src/Volley/FaceBundle/Resources/public/bower_components
/web/sitemap*.xml