/web/bundles/
/web/uploads/
/web/assetic
/web/js/
/web/css/
/web/fonts
/web/media
/web/images
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
.DS_Store
.DS_Store?
.idea
nbproject
.Spotlight-V100
.Trashes
Thumbs.db
*~
xcuserstate
xcuserdata

node_modules
# bower dir
/src/Volley/FaceBundle/Resources/public/bower_components