{% extends '::layout.html.twig' %}

{% block content %}

    <div class="section">

        <div class="container">

            <h1 class="text-center">{{ category.name }}</h1>

            <hr>

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        {% for item in posts %}
                            {% include 'VolleyFaceBundle:Default/includes:post.html.twig' %}
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="pagination-container">
                    {{ knp_pagination_render(posts) }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}