parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            ru
    secret:            ThisTokenIsNotSoSecretChangeIt

    base_url:          "http://www.volleyball.ua/"

    uglifycss_path: %kernel.root_dir%/../node_modules/.bin/uglifycss
    uglifyjs_path: %kernel.root_dir%/../node_modules/.bin/uglifyjs

    fb_app_id:          ~
    ga_id:              ~

    popular_post_count: 5
    recommended_post_count: 5

    google_api_key: ~

    router.request_context.host:   www.volleyball.ua
    router.request_context.scheme: http

    facebook_client_id: ~
    facebook_client_secret: ~
    g_id: ~
    g_secret: ~
    vk_id: ~
    vk_secret: ~
    instagram_id: ~
    instagram_secret: ~
    twitter_id: ~
    twitter_secret: ~
