<h2 class="form-signin-heading">Форма заказа. Заполните форму и мы свяжемся с вами!</h2>

{{ form(form) }}

<style>
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>