{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('category') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
{% endblock %}
