{#<a href="http://www.store.volleyball.ua/" title="Интернет-магазин Store.volleyball.ua" target="_blank"><img#}
            {#class="img-responsive"#}
            {#src="{{ asset("bundles/volleyface/images/banners/store_volleyball_ua_1.jpg") }}"/></a>#}
<a href="//www.store.volleyball.ua/" title="Интернет-магазин Store.volleyball.ua" target="_blank">
    <img class="img-responsive" alt="Интернет-магазин Store.volleyball.ua"
         src="{{ asset("bundles/volleyface/images/banners/vustore/" ~ random(['1', '2']) ~ ".jpg") }}"/>
</a>