<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <div class="row">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><h1>1</h1></div>
                    <div class="item"><h1>2</h1></div>
                    <div class="item"><h1>3</h1></div>
                    <div class="item"><h1>4</h1></div>
                    <div class="item"><h1>5</h1></div>
                    <div class="item"><h1>6</h1></div>
                    <div class="item"><h1>7</h1></div>
                    <div class="item"><h1>8</h1></div>
                    <div class="item"><h1>9</h1></div>
                    <div class="item"><h1>10</h1></div>
                    <div class="item"><h1>11</h1></div>
                    <div class="item"><h1>12</h1></div>
                    <div class="item"><h1>13</h1></div>
                    <div class="item"><h1>14</h1></div>
                    <div class="item"><h1>15</h1></div>
                    <div class="item"><h1>16</h1></div>
                </div>

                <div class="customNavigation">
                    <a class="btn prev">Previous</a>
                    <a class="btn next">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>