<a href="{{ path('volley_face_mikasa_vls300') }}"
   title="Mikasa VLS300 - купить мяч для пляжного волейбола">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img alt="Mikasa VLS300 - купить мяч для пляжного волейбола" class="img-responsive" style="width: 100%"
                 src="{{ asset("bundles/volleyface/images/market/mikasavls300-370.jpg") }}">
        </div>
    </div>
</a>