<div class="row">
    <div class="col-lg-12 box text-center">
        <div style="display: inline-block">
        {#<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>#}
        <!-- VK Widget -->
        {#<div id="vk_groups"></div>#}
        {#<script type="text/javascript">#}
            {#VK.Widgets.Group("vk_groups", {#}
                {#mode: 0,#}
                {#width: "260",#}
                {#height: "215",#}
                {#color1: 'FFFFFF',#}
                {#color2: '2B587A',#}
                {#color3: '5B7FA6'#}
            {#}, 24019026);#}
        {#</script>#}
        </div>
    </div>
</div>
