{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Tournament edit</h1>

    {{ form(edit_form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('stat_tournament') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}
